<div class="row"> 
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="header">
              Update Profile - {{id?.value}}
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{successMessage}}
          </div>
        <div class="row"></div>
      
        <form [formGroup]="updateForm">
          <div class="row">
            <div class="col-md-5 form-group">
              <label>Name</label>
              <input type="text" class="form-control" [ngStyle]="{'border': name.touched && name.errors ? '1px solid red' : ''}" 
                  formControlName="name"  readonly />  
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 form-group">
              <label>Address</label>
              <input type="text" class="form-control" [ngStyle]="{'border': addressLine.touched && addressLine.errors ? '1px solid red' : ''}" 
                  formControlName="addressLine"  autofocus />
               <div class="row error-message" *ngIf="addressLine.touched && addressLine.dirty && addressLine.errors">
                <div *ngIf="addressLine.errors.required">Address line is required</div>
              </div>  
            </div>
          </div>


          <div class="row">
            <div class="col-md-5 form-group">
              <label>Date Of Birth</label>
              <input type="text" class="form-control" 
                [ngStyle]="{'border': dateOfBirth.touched && dateOfBirth.errors ? '1px solid red' : ''}" 
                [min]="minDate"
                [max]="maxDate"
                formControlName="dateOfBirth"  readonly />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 form-group">
              <label>Country</label>
              <!-- <input type="text" class="form-control" [ngStyle]="{'border': country.touched && country.errors ? '1px solid red' : ''}" 
                  formControlName="country"  autofocus /> -->

                  <select class="selectpicker" formControlName="country" (change)="selectCountry()">
                    <option [ngValue]="null" disabled selected>Select Country</option>
                    <option [ngValue]="countryValue.country_name" *ngFor="let countryValue of countries">{{ countryValue.country_name }}</option>
                  </select>
                
               <div class="row error-message" *ngIf="country.touched && country.dirty && country.errors">
                <div *ngIf="country.errors.required">Country is required</div>
              </div>  
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 form-group">
              <label>Contact Number</label>
              <input type="text" class="form-control" [ngStyle]="{'border': contactDetail.touched && contactDetail.errors ? '1px solid red' : ''}" 
                  formControlName="contactDetail"  autofocus />
               <div class="row error-message" *ngIf="contactDetail.touched && contactDetail.dirty && contactDetail.errors">
                <div *ngIf="contactDetail.errors.required">Contact Number is required</div>
                <div *ngIf="contactDetail.errors.pattern">Invalid Contact Number</div>
              </div>  
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 form-group">
              <label>State</label>
              <!-- <input type="text" class="form-control" [ngStyle]="{'border': state.touched && state.errors ? '1px solid red' : ''}" 
                  formControlName="state"  autofocus /> -->

                  <select class="selectpicker" formControlName="state">
                    <option [ngValue]="null" disabled selected>Select State</option>
                    <option [ngValue]="state" *ngFor="let state of states">{{ state }}</option>
                  </select>

               <div class="row error-message" *ngIf="state.touched && state.dirty && state.errors">
                <div *ngIf="state.errors.required">State is required</div>
              </div>  
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 form-group">
              <label>Pan Number</label>
              <input type="text" class="form-control" [ngStyle]="{'border': panCardNumber.touched && panCardNumber.errors ? '1px solid red' : ''}" 
                  formControlName="panCardNumber"  autofocus />
               <div class="row error-message" *ngIf="panCardNumber.touched && panCardNumber.dirty && panCardNumber.errors">
                <div *ngIf="panCardNumber.errors.required">PAN Number is required</div>
                <div *ngIf="panCardNumber.errors.pattern">Invalid PAN Number</div>
              </div>  
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 form-group">
              <label>City</label>
              <input type="text" class="form-control" [ngStyle]="{'border': city.touched && city.errors ? '1px solid red' : ''}" 
                  formControlName="city"  autofocus />
               <div class="row error-message" *ngIf="city.touched && city.dirty && city.errors">
                <div *ngIf="city.errors.required">City is required</div>
              </div>  
            </div>
          </div>


          <div class="row">
            <div class="col-md-5 form-group">
              <label>Email Id</label>
              <input type="text" class="form-control" [ngStyle]="{'border': email.touched && email.errors ? '1px solid red' : ''}" 
                  formControlName="email"  autofocus />
               <div class="row error-message" *ngIf="email.touched && email.dirty && email.errors">
                <div *ngIf="email.errors.required">Email Id is required</div>
                <div *ngIf="email.errors.email">Invalid Email Id</div>
              </div>  
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 form-group">
              <label>Pincode</label>
              <input type="text" class="form-control" [ngStyle]="{'border': pinCode.touched && pinCode.errors ? '1px solid red' : ''}" 
                  formControlName="pinCode"  autofocus />
               <div class="row error-message" *ngIf="pinCode.touched && pinCode.dirty && pinCode.errors">
                <div *ngIf="pinCode.errors.required">Pincode is required</div>
              </div>  
            </div>
          </div>
          <div class="row">Dependent Details <div class="move-right">
            <button class="btn btn-success" (click)="addItem()" *ngIf="dependentDetails.length < 2">Add</button>
          </div></div>
          <div class="row"> 
            <div formArrayName="dependentDetails"
              *ngFor="let item of getDependentControl(); let i = index;">
            <div [formGroupName]="i" class="row">
              <div class="col-md-2 form-group">
                  <label>{{i+1}} Id</label>
                  <input type="text" class="form-control" 
                      formControlName="id" readonly /> 
                </div>
                <div class="col-md-4 form-group">
                  <label>{{i+1}} Dependent Name </label>
                  <input type="text" class="form-control" 
                      formControlName="name" /> 
                </div>
                <div class="col-md-4 form-group">
                  <label>{{i+1}} Dependent DOB</label>
                  <input type="text" class="form-control" 
                      [min]="minDate"
                      [max]="maxDate"
                      formControlName="dateOfBirth" /> 
                </div>
                <div class="col-md-2 move-down"><button class="btn btn-danger" (click)="remove(i)" >-</button></div>
                <div>
      
              </div>
            </div>
          </div>
          </div>
        
          <div class="row">
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-primary" (click)="onSubmitClick()">Save Changes</button>
            </div>
          </div>
        </form>
        </div>
    </div>
  </div>  